<!-- https://build.phonegap.com/docs/config-xml -->

<?xml version="1.0" encoding="UTF-8"?>
<widget
	xmlns="http://www.w3.org/ns/widgets"
	xmlns:gap="http://phonegap.com/ns/1.0"
	id="pl.acrid.demo.bootstrap"
	version="1.7.0">

	<name>Demo Bootstrap</name>

	<description>acrid.pl Demo Bootstrap</description>

	<author
		href="http://www.acrid.pl/"
		email="info@acrid.pl">
		acrid.pl
	</author>

	<gap:platforms>
		<gap:platform name="android" minVersion="2.2" />
		<gap:platform name="webos" />
		<gap:platform name="symbian.wrt" />
		<gap:platform name="blackberry" project="widgets" />
	</gap:platforms>
	
    <preference name="phonegap-version"     value="2.9.0" />
    <preference name="orientation"          value="default" />
    <preference name="target-device"        value="universal" />
    <preference name="fullscreen"           value="false" />
	<preference name="autorotate"           value="false" readonly="true" />
    
	<preference name="loadUrlTimeoutValue" value="60000" />
	<preference name="AutoHideSplashScreen" value="false" />
	<preference name="OpenAllWhitelistURLsInWebView" value="No" />
    
    <access origin="*" subdomains="true" />

	<icon src="icon.png" gap:role="default" />

    <gap:splash src="splash.png" />
    
	<feature name="http://api.phonegap.com/1.0/battery"/>
	<feature name="http://api.phonegap.com/1.0/media"/>
	<feature name="http://api.phonegap.com/1.0/device"/>
	<feature name="http://api.phonegap.com/1.0/network"/>
	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/notification"/>
    
</widget>
