/*
 * General styles
 */
body
{
	font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
    margin: 0px;
    padding: 10px;
}

code, pre {font-size: 16px !important}

kbd
{
    padding: 2px 4px;
    color: #d14;
    white-space: nowrap;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
}

/*
 * Local styles
 */
#menu-buttons .btn {margin: 2px}

#audio-buttons .btn
{
    margin: 2px;
    width: 90px;
    text-align: left;
}

#menu-buttons .well, #audio-buttons .well {padding: 7px}

#menu-buttons .btn-group + .btn-group {margin: 0px}

#menu-buttons .btn-group > .btn.dropdown-leader {margin-right: 0px}

#menu-buttons .btn-group > .btn.dropdown-toggle {margin-left: 0px}

/*
 * Bootstrap fixup
 */
.nav-tabs, .nav-pills {position: relative;}